body {
    font-family: 'Vazir', sans-serif;
    background-color: #f8f9fa;
}

#preview {
    background-color: transparent !important; /* پس‌زمینه شفاف */
    min-height: 100px;
    direction: rtl;
    width: 100%;
    overflow-wrap: break-word; /* جلوگیری از خارج شدن متن */
}

/* بهینه‌سازی برای موبایل */
@media (max-width: 768px) {
    #preview {
        font-size: 18px; /* فونت بزرگ‌تر برای خوانایی تو موبایل */
    }
}